# This file is currently used by autoprefixer to adjust CSS to support the below specified browsers
# For additional information regarding the format and rule options, please see:
# https://github.com/browserslist/browserslist#queries
#
# For IE 9-11 support, please remove 'not' from the last line of the file and adjust as needed

last 2 versions and not dead and not ios_saf < 15.4 and not firefox < 100 and not op_mini > 0 and not and_uc > 0 and not and_qq > 0 and not kaios > 0