<main>
<a routerLink="/mynsweepr">Play Mynsweepr</a>

<router-outlet></router-outlet>
<app-dialog [id]="'keys'" #keys [title]="'Keyboard Shortcuts'" [classes]="{ keys: true }">
    <section class="dialog-content keys-table">
        <header class="keys-table-header">
            <h2 class="keys-table-header-cell keys-table-header-keys">Key</h2>
            <h2 class="keys-table-header-cell keys-table-header-action">Action</h2>
        </header>
        <article class="keys-table-body">
            <div class="keys-table-body-row">
                <p class="keys-table-body-cell keys-table-body-keys">
                    <span class="key"><kbd>Space</kbd></span>
                    <span class="key"><kbd>Enter</kbd></span>
                </p>
                <p class="keys-table-body-cell keys-table-body-action">
                    Reveals the cell. If the cell contains a mine, loses the game.
                </p>
            </div>
            <div class="keys-table-body-row">
                <p class="keys-table-body-cell keys-table-body-keys">
                    <span class="key"><kbd>f</kbd></span>
                    <span class="key"><kbd>F</kbd></span>
                    <span class="key"><kbd>+</kbd> (on the NumPad)</span>
                </p>
                <p class="keys-table-body-cell keys-table-body-action">
                    Flags a cell as containing a mine
                </p>
            </div>
            <div class="keys-table-body-row">
                <p class="keys-table-body-cell keys-table-body-keys">
                    <span class="key"><kbd>r</kbd></span>
                    <span class="key"><kbd>R</kbd></span>
                    <span class="key"><kbd>-</kbd> (either one)</span>
                </p>
                <p class="keys-table-body-cell keys-table-body-action">
                    Reveals surrounding cells, based on the number of mines nearby (shown as a number in the cell)
                </p>
            </div>
            <div class="keys-table-body-row">
                <p class="keys-table-body-cell keys-table-body-keys">
                    <span class="key"><kbd>w</kbd></span>
                    <span class="key"><kbd>W</kbd></span>
                    <span class="key"><kbd>↑</kbd> (up arrow)</span>
                    <span class="key"><kbd>↑</kbd> (up arrow <a href="#note1"><sup>1</sup></a>)</span>
                    <span class="key"><kbd>8</kbd> (<a href="#note2"><sup>2</sup></a>)</span>
                </p>
                <p class="keys-table-body-cell keys-table-body-action">
                    Moves to the cell above the currently active cell. Does nothing if on the top row.
                </p>
            </div>
            <div class="keys-table-body-row">
                <p class="keys-table-body-cell keys-table-body-keys">
                    <span class="key"><kbd>a</kbd></span>
                    <span class="key"><kbd>A</kbd></span>
                    <span class="key"><kbd>←</kbd> (left arrow)</span>
                    <span class="key"><kbd>←</kbd> (left arrow <a href="#note1"><sup>1</sup></a>)</span>
                    <span class="key"><kbd>4</kbd> (<a href="#note2"><sup>2</sup></a>)</span>
                </p>
                <p class="keys-table-body-cell keys-table-body-action">
                    Moves to the cell to the left the currently active cell. Does nothing if on the left-most column.
                </p>
            </div>
            <div class="keys-table-body-row">
                <p class="keys-table-body-cell keys-table-body-keys">
                    <span class="key"><kbd>d</kbd></span>
                    <span class="key"><kbd>D</kbd></span>
                    <span class="key"><kbd>→</kbd> (right arrow)</span>
                    <span class="key"><kbd>→</kbd> (right arrow <a href="#note1"><sup>1</sup></a>)</span>
                    <span class="key"><kbd>6</kbd> (<a href="#note2"><sup>2</sup></a>)</span>
                </p>
                <p class="keys-table-body-cell keys-table-body-action">
                    Moves to the cell to the right the currently active cell. Does nothing if on the right-most column.
                </p>
            </div>
            <div class="keys-table-body-row">
                <p class="keys-table-body-cell keys-table-body-keys">
                    <span class="key"><kbd>s</kbd></span>
                    <span class="key"><kbd>S</kbd></span>
                    <span class="key"><kbd>↓</kbd> (down arrow)</span>
                    <span class="key"><kbd>↓</kbd> (down arrow <a href="#note1"><sup>1</sup></a>)</span>
                    <span class="key"><kbd>2</kbd> (<a href="#note2"><sup>2</sup></a>)</span>
                </p>
                <p class="keys-table-body-cell keys-table-body-action">
                    Moves to the cell below the currently active cell. Does nothing if on the bottom-most row.
                </p>
            </div>
        </article>
    </section>
    <p class="notes">
        <a id="note1" class="note"><sup>1</sup> NumPad with NumLock off</a>
        <a id="note2" class="note"><sup>2</sup> NumPad with NumLock on</a>
    </p>
    <footer class="dialog-buttons">
      <button type="button"
              class="confirm"
              role="button"
              aria-label="indicates acceptance, closes dialog"
              (click)="closeDialog('keys')">
        Super!
      </button>
    </footer>
  </app-dialog>
  </main>